img {
  height: 150px;
  width: auto;
}
#root {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(41, 38, 38, 0.404);
  align-items: center;
  justify-content: center;
}

#root div {
  width: fit-content;
  margin: 5px 5px;
  border: solid 1px rgba(255, 245, 245, 0.192);
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
  cursor: help;
}
#root p {
  width: 101px;
  text-align: center;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c31c3123-3df7-4359-8b8c-475bd2d9925d/3aac2646-dd73-480d-b9b8-fbf55b24aff8/DE-en-20231225-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
}

body nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body nav img {
  height: 50px;
}
